.lol-bg-1 {
    background-color: #213238;
}

.lol-bg-2 {
    background-color: #0A1616;
    background-color: #03080B;
}

.lol-gold-1 {
    background-color: #CD951A;
    background-color: #BFA004;
    background-color: #E4B04C;
    background-color: #785C20;
}

.lol-blue-1 {
    background-color: #054A61;
}