#game-basics{
    font-family: adobe-garamond-pro, serif;
    font-weight: 1700;
    font-style: normal;
    
    border: 5px solid gray;
    background-image:url("https://na.leagueoflegends.com/sites/default/files/styles/scale_xlarge/public/upload/2016.04.11.articlebanner.champskinsale.en_.jpg?itok=wzdDckJx");
    /*opacity: 0.5;*/
    filter: alpha(opacity=50);
    background-repeat: no-repeat; /*solo una imagen*/
    background-position: center top; /*posicion de la imagen de fondo*/
    background-size: cover;
    margin-top: 0px; /*margen del texto en relacion a la parte de arriba*/
    background-attachment: fixed; /*scroll. La imagen se queda fija*/
    }

    ul{
        font-family: adobe-garamond-pro, serif;
        font-weight: bold;
        font-style: normal
        list-style-type: none;
       /* background: #cce5ff;*/
        color:#1D0259;
        margin: 5px;
        padding: 8px 16px;
        border-bottom: 1px solid #ddd;
    }

    li{
        color:#BFA004  
    }

    pre{
        display: block;
        white-space: pre;
        margin: 1em 0;
        font-family: adobe-garamond-pro, serif;
        font-weight: 2000;
        font-style: bold;
    }

    h2{
        font-size: 40px;
        color: gold
        
       
    }

    button {
        text-align: center;
        display: inline-block;
        cursor: pointer;
     }

     div{
        background-color:rgb(26, 46, 221); opacity: 0.4;
        font-size: 99%;
        font-weight: bold;
        font-weight: 900;
     }

     hr.content-basics {
        border: 3px solid gold;
      }