/*limpiar estilos por defecto*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.body-bg {
    width: 100%;
    background-image: url(LoLFont.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*Crear sistema de grillas: contenedor del sistema*/

.container {
    width: 100%;
    margin: 0px auto;
    height: 100vh;
}


/*Crear columnas*/


/*estilo general del sistema*/

[class*='col-'] {
    float: left;
    min-height: 10 px;
    padding: 12px;
    display: flex;
    background-color: none;
}


/*cada columna mide 8.33%*/

.col-1 {
    width: 8.333333333333332%;
}

.col-2 {
    width: 16.666666666666664%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333333333%;
}

.col-5 {
    width: 41.66666666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333333333336%;
}

.col-8 {
    width: 66.66666666666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333333334%;
}

.col-11 {
    width: 91.66666666666666%;
}

.col-12 {
    width: 100%;
}


/*Crear filas*/

.row {
    margin: auto;
    width: 100%;
    height: auto;
}


/*Estilos Menu Navegacion*/

.menu,
.section-nav {
    list-style: none !important;
    text-decoration: none;
    background-color: #0A1616;
    color: #CD951A;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: space-between;
    justify-items: space-around;
    height: auto;
    flex-wrap: wrap;
    text-align: center;
    text-justify: center;
    border: none;
}

.logo-welcome {
    align-items: center center;
    justify-content: center center;
    background-color: none !important;
}

.container-logo {
    background-color: none !importante;
}

.menu {
    background-image: url(marco.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

a {
    list-style: none !important;
    text-decoration: none;
    -webkit-appearance: none !important;
    margin: 10px;
}

.container-buttons,
.select-roles,
.select-ability,
.buttons-nav {
    text-decoration-skip-ink: none;
    -moz-text-decoration-style: none;
    background-color: #0A1616;
    color: #CD951A;
    border: none;
    align-items: space-around;
    text-align: space-around;
    height: auto;
}

.select-roles:hover,
.select-ability:hover,
.buttons-nav:hover {
    background-color: #213238;
}


/*Estilos de  section welcome*/

.section-welcome-header,
.w-header {
    color: #785C20;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.welcome-content {
    display: block;
    color: #785C20;
}

.welcome-img {
    display: block;
    width: 40%;
    height: 200px;
    margin: 20px;
}

.button-meet-c {
    text-decoration-skip-ink: none;
    -moz-text-decoration-style: none;
    background-image: url(arrow-lol.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0A1616;
    color: #CD951A;
    border: none;
    height: 15px;
}


/*Estilos de Modal*/


/*Estilo del flexbox modal*/

.flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Estilos de boton del Modal:*/

.b-m-button {
    background-color: none;
    align-items: center;
    display: inline-block;
    padding: 8 px;
    border-radius: 100%;
    overflow: hidden;
}

.b-m-button:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


/*Estilos del Contenido del Modal*/

.m-header,
.m-footer {
    text-align: center;
    padding: 8px 16px;
    background-color: #0A1616;
    color: #E4B04C;
}

.m-body {
    text-align: center;
    padding: 20 px 16px;
}

.m-box {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(191, 160, 4, 0.465);
    ALIGN-ITEMS: CENTER;
    JUSTIFY-CONTENT: CENTER;
}

.m-content {
    position: relative;
    background-color: #03080B;
    color: #785C20;
    margin: auto;
    width: 30%;
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
    animation-name: modal;
    animation-duration: 1s;
}


/*Animación del Modal*/

@keyframes modal {
    from {
        top: -330px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: #785C20;
    font-size: 25px;
    font-weight: bold;
}

.close:hover {
    color: rgb(219, 233, 148);
    text-decoration: none;
    cursor: pointer;
}